@import url("https://fonts.googleapis.com/css?family=Rampart One");
@import url("https://fonts.googleapis.com/css?family=Oswald");

body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("images/busPicture.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  font-family: "Rampart One";
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.font-styling {
  font-size: 300%;
}

.card-font {
  color: black;
  font-family: "Oswald";
  font-weight: bold;
  text-shadow: 2px 2px 4px #ffffff;
}

#button-style {
  background-color: #66a1b6;
  outline-color: #66a1b6;
  color: white;
  font-family: "Oswald";
  font-weight: bold;
}