@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Rokkitt");

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

#container {
    position: relative;
    text-align: center;
}

#backgroundColor {
    background-color: #f4d8f4;
}

#banner {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

#centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: "Permanent Marker";
    color: #9e80ff;
    font-size: 5vw !important;
}

h2 {
    font-family: "Rokkitt";
    color: #9e80ff;
    font-size: 3vw !important;
}

#title-font {
    font-family: "Oswald";
    color: #9e80ff;
    margin-top: 0px;
}

#button-style {
    background-color: #f4d8f4;
    border: 5px solid #f4d8f4;
    border-radius: 20px;
    margin-left: 5%;
}

#table-style {
    font-family: "Oswald";
    color: #9e80ff !important;
}

.center-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}